.content {
	text-align: center;
	.select_method {
		margin-top: 25px;
		button {
			margin-left: 20px;
		}
		#first_button {
			margin-left: 0;
		}
	}
	.form {
		h3 {
			margin: 30px 0 20px;
		}
		input {
			width: 100%;
			margin: 5px 0 30px;
			padding: 5px;
		}
		textarea {
			width: 100%;
			min-height: 100px;
			margin-bottom: 30px;
			margin-top: 5px;
			padding: 5px;
		}
	}
}