<section class="container content">
  <div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
  <section class="selectMethod">
    <button type="button" class="btn btn-success" id="firstButton" (click)="methodChange('add')">Create</button>
    <button type="button" class="btn btn-warning" (click)="methodChange('edit')">Edit</button>
    <button type="button" class="btn btn-danger" (click)="methodChange('delete')">Delete</button>
  </section>
  <hr />
  <section class="form">
    <ng-container *ngIf="currentValue === 'add'">
      <form onsubmit="return false;" id="createItemForm">
        <h3>Create new work item</h3>
        <label for="addName"><h5>Input name</h5></label>
        <input type="text" id="addName" placeholder="Name" minlength="3" maxlength="253" required #addName />
        <label for="addDate"><h5>Input date</h5></label>
        <input type="date" id="addDate" min="1945-08-06" required #addDate />
        <label for="addTechnologies"><h5>Input technologies</h5></label>
        <input type="text" id="addTechnologies" placeholder="Technologies (ex: C++, Python, Javascript, NodeJS)" minlength="3" maxlength="253" required #addTechnologies />
        <label for="addDescription"><h5>Input description</h5></label>
        <textarea id="addDescription" placeholder="Description" minlength="3" maxlength="2998" required #addDescription></textarea>
        <label for="addCodeUri"><h5>Input code uri</h5></label>
        <input type="text" id="addCodeUri" placeholder="Code link (ex: https://github.com/LautaroColella/my_project)" minlength="3" maxlength="253" #addCodeUri />
        <label for="addLiveUri"><h5>Input live uri</h5></label>
        <input type="text" id="addLiveUri" placeholder="Live page link (ex: https://example.com/)" minlength="3" maxlength="253" #addLiveUri />
        <label for="addImageUri"><h5>Input image uri</h5></label>
        <input type="text" id="addImageUri" placeholder="Image link (ex: https://i.imgur.com/JV66wJT.jpeg)" minlength="3" maxlength="253" #addImageUri />
        <label for="addImageAlt"><h5>Input image description</h5></label>
        <input type="text" id="addImageAlt" placeholder="Image alt" minlength="3" maxlength="253" #addImageAlt />
        <input type="submit" class="btn btn-success" value="Create" (click)="createItem(addName.value, addDate.value, addTechnologies.value, addDescription.value, addCodeUri.value ? addCodeUri.value : undefined, addLiveUri.value ? addLiveUri.value : undefined, addImageUri.value ? addImageUri.value : undefined, addImageAlt.value ? addImageAlt.value : undefined)" />
      </form>
    </ng-container>
    <ng-container *ngIf="currentValue === 'edit'">
      <form onsubmit="return false;" id="editItemForm">
        <h3>Edit work item</h3>
        <ng-container *ngIf="!foundItemId; else itemIdFound">
          <label for="editId"><h5>Input project id</h5></label>
          <input type="number" id="editId" placeholder="Id (ex: 123)" min="1" max="65535" required #editId />
          <input type="submit" class="btn btn-warning" value="Search" (click)="searchEditItem(editId.value)" />
        </ng-container>
        <ng-template #itemIdFound>
          <label for="editName"><h5>Change name</h5></label>
          <input type="text" id="editName" placeholder="Name" minlength="3" maxlength="253" value="{{projectToEdit.name}}" required #editName />
          <label for="editDate"><h5>Change date</h5></label>
          <input type="date" id="editDate" min="1945-08-06" value="{{projectToEdit.date}}" required #editDate />
          <label for="editTechnologies"><h5>Change technologies</h5></label>
          <input type="text" id="editTechnologies" placeholder="Technologies (ex: C++, Python, Javascript, NodeJS)" minlength="3" maxlength="253" value="{{projectToEdit.technologies}}" required #editTechnologies />
          <label for="editDescription"><h5>Change description</h5></label>
          <textarea id="editDescription" placeholder="Description" minlength="3" maxlength="2998" value="{{projectToEdit.description}}" required #editDescription></textarea>
          <label for="editCodeUri"><h5>Change code uri</h5></label>
          <input type="text" id="editCodeUri" placeholder="Code link (ex: https://github.com/LautaroColella/my_project)" minlength="3" maxlength="253" value="{{projectToEdit.code_uri}}" #editCodeUri />
          <label for="editLiveUri"><h5>Change live uri</h5></label>
          <input type="text" id="editLiveUri" placeholder="Live page link (ex: https://example.com/)" minlength="3" maxlength="253" value="{{projectToEdit.live_uri}}" #editLiveUri />
          <label for="editImageUri"><h5>Change image uri</h5></label>
          <input type="text" id="editImageUri" placeholder="Image link (ex: https://i.imgur.com/JV66wJT.jpeg)" minlength="3" maxlength="253" value="{{projectToEdit.image_uri}}" #editImageUri />
          <label for="editImageAlt"><h5>Change image description</h5></label>
          <input type="text" id="editImageAlt" placeholder="Image alt" minlength="3" maxlength="253" value="{{projectToEdit.image_alt}}" #editImageAlt />
          <input type="submit" class="btn btn-warning" value="Update" (click)="editItem(editName.value, editDate.value, editTechnologies.value, editDescription.value, editCodeUri.value ? editCodeUri.value : undefined, editLiveUri.value ? editLiveUri.value : undefined, editImageUri.value ? editImageUri.value : undefined, editImageAlt.value ? editImageAlt.value : undefined)" />
        </ng-template>
      </form>
    </ng-container>
    <ng-container *ngIf="currentValue === 'delete'">
      <form onsubmit="return false;" id="deleteItemForm">
        <h3>Delete work item</h3>
        <label for="deleteId"><h5>Input project id</h5></label>
        <input type="number" id="deleteId" placeholder="Id (ex: 123)" min="1" max="65535" required #deleteId />
        <input type="submit" class="btn btn-danger" value="Delete" (click)="deleteItem(deleteId.value)" />
      </form>
    </ng-container>
  </section>
</section>
