<section class="container content">
  <div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
  <section class="selectMethod">
    <button type="button" class="btn btn-dark" id="firstButton" (click)="methodChange('all')">All</button>
    <button type="button" class="btn btn-success" (click)="methodChange('add')">Create</button>
  </section>
  <hr />
  <ng-container *ngIf="currentValue === 'all'">
    <ng-container *ngIf="allEmpty; else allNotEmpty">
      <h4>There are no users yet</h4>
    </ng-container>
    <ng-template #allNotEmpty>
      <table class="users">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Update</th>
          <th>Delete</th>
        </thead>
        <tbody *ngFor="let user of allUsers">
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td (click)="searchEditUser(user.id)"><i class="fas fa-edit iconEdit"></i></td>
            <td (click)="deleteUser(user.id)"><i class="fas fa-trash-alt iconDel"></i></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ng-container>
  <section class="form">
    <ng-container *ngIf="currentValue === 'add'">
      <form onsubmit="return false;" id="createUserForm">
        <h3>Create new user</h3>
        <label for="addName"><h5>Input name</h5></label>
        <input type="text" id="addName" placeholder="Name" minlength="3" maxlength="253" required #addName />
        <label for="addEmail"><h5>Input email</h5></label>
        <input type="email" id="addEmail" placeholder="Email" minlength="3" maxlength="253" required #addEmail />
        <label for="addPassword"><h5>Input password</h5></label>
        <input type="password" id="addPassword" placeholder="Password" minlength="3" maxlength="253" required #addPassword />
        <input type="submit"  class="btn btn-success" value="Create" (click)="createUser(addName.value, addEmail.value, addPassword.value)" />
      </form>
    </ng-container>
    <ng-container *ngIf="currentValue === 'edit'">
      <form onsubmit="return false;">
        <h3>Edit user</h3>
        <label for="editName"><h5>Change name</h5></label>
        <input type="text" id="editName" placeholder="Name" minlength="3" maxlength="253" value="{{userToEdit.name}}" required #editName />
        <label for="editEmail"><h5>Change email</h5></label>
        <input type="email" id="editEmail" placeholder="Email" minlength="3" maxlength="253" value="{{userToEdit.email}}" required #editEmail />
        <label for="editPassword"><h5>Change password</h5></label>
        <input type="password" id="editPassword" placeholder="Password" minlength="3" maxlength="253" required #editPassword />
        <input type="reset" class="btn btn-danger" value="Cancel" (click)="methodChange('all')" />
        <input type="submit" class="btn btn-success" value="Update" (click)="editUser(editName.value, editEmail.value, editPassword.value)" />
      </form>
    </ng-container>
  </section>
</section>
