.content {
	text-align: center;

	.select_method {
		text-align: left;
		.select_h4, .select_sel {
			display: inline-block;
		}
		.select_sel {
			margin-left: 15px;
			select {
				width: 100px;
			}
		}
	}
	.form {
		h3 {
			margin-top: 30px;
			margin-bottom: 20px;
		}
		input {
			width: 100%;
			margin-bottom: 30px;
			margin-top: 5px;
			padding: 5px;
		}
		textarea {
			width: 100%;
			min-height: 100px;
			margin-bottom: 30px;
			margin-top: 5px;
			padding: 5px;
		}
	}
	.error {
		color: red;
		margin-top: 10px;
	}

	.messages {
		width: 100%;
		padding: 5px;
		thead, tbody {
			border: 1px solid #000;
		}
		tr:hover {
			cursor: pointer;
			background-color: #dadada;
		}
		td {
			max-width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			i {
				&.icon_check {
					color: #11ff00;
				}
				&.icon_cross {
					color: #ff6666;
				}
			}
		}
	}
	.one_message {
		p {
			text-align: left;
			background-color: #fff;
			padding: 15px;
			border: 1px solid #000;
		}
		h4 {
			text-align: center;
			margin-bottom: 20px;
		}
		table {
			width: 100%;
			margin-bottom: 20px;
			input {
				width: 100%;
				padding: 5px;
			}
			label {
				margin-right: 10px;
			}
			.label-col {
				width: 1px;
				white-space: nowrap;
			}
		}
		.goback {
			background-color: #fff;
			border: 1px double #f9f9f9;
			&:hover {
				cursor: pointer;
				background-color: #dadada;
			}
		}
	}
}