<section class="container content">
  <div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
  <section class="selectMethod">
    <button type="button" class="btn btn-success" id="firstButton" (click)="methodChange('add')">Create</button>
    <button type="button" class="btn btn-warning" (click)="methodChange('edit')">Edit</button>
    <button type="button" class="btn btn-danger" (click)="methodChange('delete')">Delete</button>
    <button type="button" class="btn btn-dark" (click)="methodChange('message')">Messages</button>
  </section>
  <hr />
  <section class="form">
    <ng-container *ngIf="currentValue === 'add'">
      <form #createItemForm onsubmit="return false;">
        <h3>Create new contact item</h3>
        <label for="addName"><h5>Input name</h5></label>
        <input type="text" id="addName" placeholder="Name" minlength="3" maxlength="253" required #addName />
        <label for="addAccount"><h5>Input account</h5></label>
        <input type="text" id="addAccount" placeholder="Account" minlength="3" maxlength="253" required #addAccount />
        <label for="addUri"><h5>Input item uri</h5></label>
        <input type="text" id="addUri" placeholder="Item link (ex: https://example.com/users/LautaroColella)" minlength="3" maxlength="253" #addUri />
        <label for="addImageUri"><h5>Input image uri</h5></label>
        <input type="text" id="addImageUri" placeholder="Image link (ex: https://i.imgur.com/JV66wJT.jpeg)" minlength="3" maxlength="253" #addImageUri />
        <label for="addImageAlt"><h5>Input image description</h5></label>
        <input type="text" id="addImageAlt" placeholder="Image alt" minlength="3" maxlength="253" #addImageAlt />
        <input type="submit" class="btn btn-success" value="Create" (click)="createItem(addName.value, addAccount.value, addUri.value ? addUri.value : undefined, addImageUri.value ? addImageUri.value : undefined, addImageAlt.value ? addImageAlt.value : undefined)" />
      </form>
    </ng-container>
    <ng-container *ngIf="currentValue === 'edit'">
      <form onsubmit="return false;">
        <h3>Edit contact item</h3>
        <ng-container *ngIf="!foundItemId; else itemIdFound">
          <label for="editId"><h5>Input contact item id</h5></label>
          <input type="number" id="editId" placeholder="Id (ex: 123)" min="1" max="65535" required #editId />
          <input type="submit" class="btn btn-warning" value="Search" (click)="searchEditItem(editId.value)" />
        </ng-container>
        <ng-template #itemIdFound>
          <label for="editName"><h5>Change name</h5></label>
          <input type="text" id="editName" placeholder="Name" minlength="3" maxlength="253" value="{{itemToEdit.name}}" required #editName />
          <label for="editAccount"><h5>Change account</h5></label>
          <input type="text" id="editAccount" placeholder="Account" minlength="3" maxlength="253" value="{{itemToEdit.account}}" required #editAccount />
          <label for="editUri"><h5>Change item uri</h5></label>
          <input type="text" id="editUri" placeholder="Item link (ex: https://example.com/profile/my_item)" minlength="3" maxlength="253" value="{{itemToEdit.link}}" #editUri />
          <label for="editImageUri"><h5>Change image uri</h5></label>
          <input type="text" id="editImageUri" placeholder="Image link (ex: https://i.imgur.com/JV66wJT.jpeg)" minlength="3" maxlength="253" value="{{itemToEdit.image_uri}}" #editImageUri />
          <label for="editImageAlt"><h5>Change image description</h5></label>
          <input type="text" id="editImageAlt" placeholder="Image alt" minlength="3" maxlength="253" value="{{itemToEdit.image_alt}}" #editImageAlt />
          <input type="submit" class="btn btn-warning" value="Update" (click)="editItem(editName.value, editAccount.value, editUri.value ? editUri.value : undefined, editImageUri.value ? editImageUri.value : undefined, editImageAlt.value ? editImageAlt.value : undefined)" />
        </ng-template>
      </form>
    </ng-container>
    <ng-container *ngIf="currentValue === 'delete'">
      <form #deleteItemForm onsubmit="return false;">
        <h3>Delete contact item</h3>
        <label for="deleteId"><h5>Input contac item id</h5></label>
        <input type="number" id="deleteId" placeholder="Id (ex: 123)" min="1" max="65535" required #deleteId />
        <input type="submit" class="btn btn-danger" value="Delete" (click)="deleteItem(deleteId.value)" />
      </form>
    </ng-container>
  </section>
  <ng-container *ngIf="currentValue === 'message'">
    <ng-container *ngIf="messagesEmpty; else messagesNotEmpty">
      <h4>There are no messages yet</h4>
    </ng-container>
    <ng-template #messagesNotEmpty>
      <table class="messages" *ngIf="!oneMessage">
        <thead>
          <th>ID</th>
          <th>Read</th>
          <th>Subject</th>
          <th>Date</th>
        </thead>
        <tbody *ngFor="let message of allMessages">
          <tr (click)="showMessage(message.id)">
            <td>{{message.id}}</td>
            <td *ngIf="message.readed"><i class="fa-solid fa-check iconCheck"></i></td>
            <td *ngIf="!message.readed"><i class="fa-regular fa-circle-xmark iconCross"></i></td>
            <td>{{message.subject}}</td>
            <td>{{message.date}}</td>
          </tr>
        </tbody>
      </table>
      <div class="oneMessage" *ngIf="oneMessage">
        <hr />
        <h4>{{currentMessage.date}} | | ID: {{currentMessage.id}} | | Seen: {{currentMessage.readed}}</h4>
        <table>
          <tr>
            <td class="label-col">
              <label for="messageSubject">Subject:</label>
            </td>
            <td>
              <input type="text" id="messageSubject" value="{{currentMessage.subject}}" disabled />
            </td>
          </tr>
          <tr>
            <td class="label-col">
              <label for="messageReply">Reply to:</label>
            </td>
            <td>
              <input type="text" id="messageReply" value="{{currentMessage.reply}}" disabled />
            </td>
          </tr>
        </table>
        <p>{{currentMessage.message}}</p>
        <button class="goback" (click)="oneMessage = false"><i class="fa-solid fa-arrow-left fa-2x"></i></button>
        <button class="btn btn-danger" (click)="deleteMessage(currentMessage.id)">Delete</button>
      </div>
    </ng-template>
  </ng-container>
</section>
