.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
#work {
	box-sizing: border-box;
	margin-top: 15px;
	width: 100%;
	height: 585px;
	overflow-y: scroll;
	padding: 10px;
	.project {
		background-color: rgba(252, 255, 196, 0.1);
		width: 100%;
		height: auto;
		padding: 15px;
		margin-top: 30px;
		border: 2px solid #51714c;
		position: relative;
		.view_more_button {
			width: 110px;
			height: 65px;
			position: absolute;
			left: 32px;
			top: 50px;
			text-align: center;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #9abe5b;
			background-color: rgba(206, 252, 126, 0.9);
			z-index: 2;
			&:hover {
				cursor: pointer;
				background-color: #b3da70;
			}
			span, i {
				width: 100%;
			}
			.view_less {
				display: none;
			}
		}
		.item_image {
			float: left;
			width: 145px;
			height: 145px;
			margin-bottom: 5px;
			img {
				border-radius: 5px;
				width: 100%;
				height: 100%;
			}
		}
		.left_text {
			position: relative;
			left: 10px;
			&::after {
				content: "";
				display: table;
				clear: both;
			}
			h3, h5 {
				display: block;
				float: left;
			}
			.all_technologies .technology {
				float: left;
				display: inline-block;
				background-color: #defffe;
				border-radius: 10px;
				border: 1px solid #333;
				padding: 3px;
				margin: 3px 5px 0 0;
			}
		}
		.view_more_section {
			margin-top: 15px;
			display: none;
		}
	}
	@media (max-width: 398px) {
		.project {
			.view_more_button {
				box-sizing: border-box;
				float: right;
				width: 45%;
				position: static;
			}
			.item_image {
				box-sizing: border-box;
				width: 50%;
			}
		}
	}
}