.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
#work {
	box-sizing: border-box;
	margin-top: 15px;
	width: 100%;
	height: 75%;
	overflow-y: scroll;
	padding: 10px;
	.project {
		background-color: rgba(252, 255, 196, 0.1);
		width: 100%;
		height: auto;
		padding: 15px;
		margin-top: 30px;
		border: 2px solid #51714c;
		position: relative;
		.viewMoreButton {
			width: 110px;
			height: 65px;
			position: absolute;
			left: 32px;
			top: 50px;
			text-align: center;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #9abe5b;
			background-color: rgba(206, 252, 126, 0.9);
			z-index: 2;
			&:hover {
				cursor: pointer;
				background-color: #b3da70;
			}
			span, i {
				width: 100%;
			}
			i {
				color: #000;
			}
			.viewLess {
				display: none;
			}
		}
		.itemImage {
			float: left;
			width: 145px;
			height: 145px;
			margin-bottom: 5px;
			img {
				border-radius: 5px;
				width: 100%;
				height: 100%;
			}
		}
		.mainContent {
			position: relative;
			left: 10px;
			&::after {
				content: "";
				display: table;
				clear: both;
			}
			h3, h5 {
				display: block;
				float: left;
			}
			.allTechnologies .technology {
				float: left;
				display: inline-block;
				background-color: #defffe;
				border-radius: 10px;
				border: 1px solid #333;
				padding: 3px;
				margin: 3px 5px 0 0;
			}
		}
		.viewMoreSection {
			max-height: 0;
			transition: max-height 1.5s ease;
			overflow-y: hidden;
		}
	}
	@media (max-width: 398px) {
		.project {
			.viewMoreButton {
				box-sizing: border-box;
				float: right;
				width: 45%;
				position: relative;
				left: 0;
				top: 0;
			}
			.itemImage {
				box-sizing: border-box;
				width: 50%;
			}
		}
	}
}
@media (max-width: 700px), (max-height: 760px) {
	#work {
		height: 95%;
		overflow-y: visible;
	}
}