<body>
	<app-loader></app-loader>
	<section class="container content">
		<div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
		<section id="work">
			<div class="projects">
				<div class="project" *ngFor="let project of project_items">
					<div class="view_more_button" (click)="view_more(project.id)">
						<div class="view_more" id="view_more_button_{{project.id}}">
							<span>View more</span>
							<i class="fa-solid fa-angle-down fa-2x"></i>
						</div>
						<div class="view_less" id="view_less_button_{{project.id}}">
							<span>View less</span>
							<i class="fa-solid fa-angle-up fa-2x"></i>
						</div>
					</div>
					<aside class="right_image">
						<img src="{{project.image_uri}}" alt="{{project.image_alt}}">
					</aside>
					<div class="left_text">
						<h3>{{project.name}}</h3>
						<h5>{{project.date}}<span *ngIf="isLogged()"> | #{{project.id}}</span></h5>
						<div class="technology" *ngFor="let technology of project.technologies.split(',')">
							<span>{{technology}}</span>
						</div>
					</div>
					<div class="view_more_section" id="view_more_{{project.id}}">
						● <a href="{{project.code_uri}}" target="_blank">View source code <i class="fa-solid fa-external-link-alt"></i></a>
						● <a href="{{project.live_uri}}">View live version <i class="fa-solid fa-external-link-alt"></i></a>
						<p [innerHTML]="project.description">}</p>
					</div>
				</div>
			</div>
		</section>
	</section>
	<app-navbar></app-navbar>
</body>