/dist
/node_modules
/.angular/

# Unknown
*.launch
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Specific
.editorconfig
.scully/
scully.log
scully.portfolio.config.ts
/src/assets/scully-routes.json