.content {
	text-align: center;
	.selectMethod {
		margin-top: 25px;
		button {
			margin-left: 20px;
		}
		#firstButton {
			margin-left: 0;
		}
	}
	.selectType {
		text-align: left;
		.selectH4, .selectSel {
			display: inline-block;
		}
		.selectSel {
			margin-left: 15px;
			select {
				width: 150px;
			}
		}
	}
	.form {
		h3 {
			margin: 30px 0 20px;
		}
		input {
			width: 100%;
			margin: 5px 0 30px;
			padding: 5px;
		}
		textarea {
			width: 100%;
			min-height: 100px;
			margin: 5px 0 30px;
			padding: 5px;
		}
	}
}