#toggle_nav {
	display: none;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
	i {
		margin-top: 8px;
		color: #fff;
	}
}
#navigationbar {
	position: absolute;
	bottom: 15%;
	width: 100%;
	color: #fff;
	text-align: center;
	margin-top: 40px;
	font-size: 16px;
	.nav_home, .nav_work, .nav_about, .nav_contact, .nav_login, .nav_admin {
		display: inline-block;
		margin-left: 30px;
	}
	.nav_arrow {
		.nav_line_1 {
			position: absolute;
			height: 2px;
			background-color: #000;
			width: 20px;
			transform: rotate(-65deg);
			margin: 17px 0 0 32px;
		}
		.nav_line_2 {
			position: absolute;
			height: 2px;
			background-color: #000;
			width: 20px;
			transform: rotate(65deg);
			margin: 17px 0 0 40px;
		}
	}

	@media (max-width: 700px){
		position: fixed;
		top: 0;
		left: 0;
		width: 180px;
		background-color: #333;
		height: 310px;
		text-align: left;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		display: none;
		.nav_home, .nav_work, .nav_about, .nav_contact, .nav_login, .nav_admin {
			margin: 20px 10px 0 10px;
			display: block;
		}
		.nav_arrow {
			position: relative;
			bottom: 19px;
			.nav_line_1 {
				position: absolute;
				right: 25px;
				height: 2px;
				background-color: #fff;
				width: 20px;
				transform: rotate(-25deg);
				margin: 0 0 0 32px;
			}
			.nav_line_2 {
				position: absolute;
				right: 25px;
				height: 2px;
				background-color: #fff;
				width: 20px;
				transform: rotate(25deg);
				margin: 8px 0 0 0;
			}
		}
	}
}
@media (max-width: 700px){
	#toggle_nav {
		display: block;
		position: fixed;
		top: 60px;
		left: 0;
		width: 50px;
		height: 50px;
		background-color: #333;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
