<body>
  <app-loader></app-loader>
  <section class="container content">
    <div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
    <section id="admin">
      <h1>Portfolio information</h1>
      <section class="adminHome" id="adminHome">
        <div class="slideButton">
          <div class="slideButtonSecond" (click)='viewClick("Home")'>
            <h2>Home</h2>
            <i class="fa-solid fa-caret-down fa-2x arrowDown"></i>
            <i class="fa-solid fa-caret-up fa-2x arrowUp"></i>
          </div>
        </div>
        <div id="appHome">
          <app-admin-home></app-admin-home>
        </div>
      </section>
      <section class="adminWork" id="adminWork">
        <div class="slideButton">
          <div class="slideButtonSecond" (click)='viewClick("Work")'>
            <h2>Work</h2>
            <i class="fa-solid fa-caret-down fa-2x arrowDown"></i>
            <i class="fa-solid fa-caret-up fa-2x arrowUp"></i>
          </div>
        </div>
        <div id="appWork">
          <app-admin-work></app-admin-work>
        </div>
      </section>
      <section class="adminAbout" id="adminAbout">
        <div class="slideButton">
          <div class="slideButtonSecond" (click)='viewClick("About")'>
            <h2>About</h2>
            <i class="fa-solid fa-caret-down fa-2x arrowDown"></i>
            <i class="fa-solid fa-caret-up fa-2x arrowUp"></i>
          </div>
        </div>
        <div id="appAbout">
          <app-admin-about></app-admin-about>
        </div>
      </section>
      <section class="adminContact" id="adminContact">
        <div class="slideButton">
          <div class="slideButtonSecond" (click)='viewClick("Contact")'>
            <h2>Contact</h2>
            <i class="fa-solid fa-caret-down fa-2x arrowDown"></i>
            <i class="fa-solid fa-caret-up fa-2x arrowUp"></i>
          </div>
        </div>
        <div id="appContact">
          <app-admin-contact></app-admin-contact>
        </div>
      </section>
      <section class="admin_user" id="admin_user">
        <div class="slideButton">
          <div class="slideButtonSecond" (click)='viewClick("User")'>
            <h2>Users</h2>
            <i class="fa-solid fa-caret-down fa-2x arrowDown"></i>
            <i class="fa-solid fa-caret-up fa-2x arrowUp"></i>
          </div>
        </div>
        <div id="appUser">
          <app-admin-user></app-admin-user>
        </div>
      </section>
      <div class="floatingButtons">
        <i class="fa-solid fa-caret-up fa-2x fButton" (click)='bGoto("top")' title="Go top"></i>
        <i class="fa-solid fa-house-chimney fButton" (click)='bGoto("appHome")' title="Go to home page"></i>
        <i class="fa-solid fa-code fButton" (click)='bGoto("appWork")' title="Go to work page"></i>
        <i class="fa-solid fa-user fButton" (click)='bGoto("appAbout")' title="Go to about page"></i>
        <i class="fa-solid fa-comments fButton" (click)='bGoto("appContact")' title="Go to contact page"></i>
        <i class="fa-solid fa-users fButton" (click)='bGoto("appUser")' title="Go to users page"></i>
        <i class="fa-solid fa-right-from-bracket fButton fButtonLast" (click)="bLogout()" title="Logout"></i>
      </div>
    </section>
  </section>
  <app-navbar></app-navbar>
</body>
