.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
#admin {
	text-align: center;
	width: 100%;
	height: 575px;
	overflow-y: scroll;
	position: relative;
	margin-top: 25px;
	h1 {
		margin-bottom: 15px;
	}
	section {
		width: 100%;
		background-color: rgba(222, 222, 222, 0.4);
	}
	.adminHome, .adminWork, .adminAbout, .adminContact {
		margin-bottom: 100px;
	}
	#appHome, #appWork, #appAbout, #appContact, #appUser {
		padding: 50px 15px 15px 15px;
		display: none;
	}
	.slideButton {
		background-color: rgba(200, 200, 200, 1.0);
		height: 30px;
		.slideButtonSecond {
			background-color: rgba(170, 170, 170, 1.0);
			height: 80px;
			margin: auto;
			width: 150px;
			border-bottom-left-radius: 70%;
			border-bottom-right-radius: 70%;
			&:hover {
				cursor: pointer;
			}
			i {
				color: #000;
			}
			.arrowUp {
				position: relative;
				display: none;
			}
			.arrowDown {
				position: relative;
				top: -5px;
			}
		}
	}
	.floatingButtons {
		position: fixed;
		top: 200px;
		right: 30px;
		background-color: rgba(160, 160, 242, 0.6);
		border-radius: 10px;
		.fButton {
			color: #000;
			display: block;
			padding: 10px;
			border-bottom: 1px solid;
			cursor: pointer;
			&:hover {
				background-color: rgba(160, 160, 242, 1.0);
			}
		}
		.fButtonLast {
			border-bottom: none;
		}
	}
}
@media (max-width: 700px), (max-height: 760px) {
	#admin {
		height: 95%;
	}
}