.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	padding-top: 15px;
}
#about {
	padding: 20px 10px;
	width: 100%;
	box-shadow: 5px 10px 10px 10px #d9e1fe;
	border: 1px solid #c3c4ca;
	border-radius: 20px;
	#journey {
		box-sizing: border-box;
		float: left;
		width: 50%;
		text-align: justify;
		padding: 10px;
		overflow: hidden;
		h3 {
			text-align: center;
			margin-bottom: 40px;
			white-space: nowrap;
		}
		p {
			height: 250px;
			overflow-x: hidden;
			overflow-y: scroll;
			padding: 5px 15px 5px 5px;
		}
	}
	#navbar {
		box-sizing: border-box;
		float: right;
		width: 50%;
		button {
			display: block;
			margin-top: 50px;
			width: 90%;
			height: 60px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
		#knowledge_button {
			background-color: #000;
		}
	}
	#footer {
		clear: both;
		border-top: 1px solid #ccc;
		margin-top: 20px;
		padding-top: 20px;
		#arrows {
			width: 100%;
			#left_arrow {
				float: left;
				width: 75px;
				height: 150px;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				&:hover {
					background-color: rgba(60, 60, 60, 0.1);
					cursor: pointer;
				}
				&:active {
					background-color: rgba(60, 60, 60, 0.4);
				}
				i {
					position: relative;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			#right_arrow {
				float: right;
				width: 75px;
				height: 150px;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				&:hover {
					background-color: rgba(60, 60, 60, 0.1);
					cursor: pointer;
				}
				&:active {
					background-color: rgba(60, 60, 60, 0.4);
				}
				i {
					position: relative;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		#items {
			text-align: center;
			.item {
				display: inline-block;
				margin: 0;
				.itemImage {
					position: relative;
					img {
						width: 100px;
						height: 100px;
					}
					&:hover {
						cursor: pointer;
					}
					.behind_image {
						opacity: 0;
						z-index: 3;
						color: #fff;
						background-color: rgba(50, 50, 50, 0.9);
						position: absolute;
						width: 100px;
						height: 100px;
						border-radius: 10px;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						span {
							position: relative;
							display: block;
							width: 100%;
							left: 0;
							right: 0;
							top: 40%;
							transform: translateY(-50%);
						}
					}
				}
				.selected_item .behind_image {
					opacity: 1;
					transition: opacity 1s;
				}
				h5 {
					margin-top: 10px;
					overflow: hidden;
					white-space: nowrap;
					inline-size: 160px;
				}
			}
		}
	}
}

@media (max-width: 574px) {
	#about .about_navbar {
		top: 0;
		margin-bottom: 20px;
		button {
			margin-top: 20px;
			width: 100%;
			height: 40px;
		}
	}
	.about_footer {
		.about_left_arrow, .about_right_arrow {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	#about .about_footer {
		.about_left_arrow {
			.about_line_1 {
				width: 50px;
				margin-top: 60px;
			}
			.about_line_2 {
				width: 50px;
				margin-top: 37px;
			}
		}
		.about_right_arrow {
			.about_line_1 {
				width: 50px;
				margin-top: 60px;
			}
			.about_line_2 {
				width: 50px;
				margin-top: 37px;
			}
		}
	}
}
@media (max-width: 574px) {
	#about {
		#journey, #navbar {
			width: 100%;
			float: none;
		}
		#navbar {
			button {
				margin-top: 15px;
				height: 40px;
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}
}