.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	padding-top: 15px;
}
#about {
	padding: 20px 10px;
	width: 100%;
	box-shadow: 5px 10px 10px 10px #d9e1fe;
	border: 1px solid #c3c4ca;
	border-radius: 20px;
	#journey {
		box-sizing: border-box;
		float: left;
		width: 50%;
		text-align: justify;
		padding: 10px;
		overflow: hidden;
		h3 {
			text-align: center;
			margin-bottom: 40px;
			white-space: nowrap;
			color: #607143;
		}
		p {
			height: 250px;
			overflow-x: hidden;
			overflow-y: scroll;
			padding: 5px 15px 5px 5px;
		}
	}
	#navbar {
		box-sizing: border-box;
		float: right;
		width: 50%;
		color: #fff;
		button {
			display: block;
			margin-top: 50px;
			width: 90%;
			height: 60px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
		#knowledgeButton {
			background-color: #000;
		}
	}
	#footer {
		clear: both;
		border-top: 1px solid #ccc;
		margin-top: 20px;
		padding-top: 20px;
		#arrows {
			width: 100%;
			#leftArrow, #rightArrow {
				color: #ffc000;
				width: 75px;
				height: 150px;
				&:hover {
					background-color: rgba(60, 60, 60, 0.1);
					cursor: pointer;
				}
				&:active {
					background-color: rgba(60, 60, 60, 0.4);
				}
				i {
					position: relative;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					color: #000;
				}
			}
			#leftArrow {
				float: left;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			#rightArrow {
				float: right;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
		#items {
			text-align: center;
			.item {
				display: inline-block;
				margin: 0 5px;
				opacity: 0;
				animation: fadeIn 0.5s ease-in-out forwards;
				.itemImage {
					position: relative;
					img {
						width: 100px;
						height: 100px;
					}
					.viewMore {
						opacity: 1;
						z-index: 4;
						color: #fff;
						background-color: rgba(100, 100, 100, 0.9);
						position: absolute;
						width: 100px;
						height: 30px;
						border-radius: 5px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						&:hover {
							cursor: pointer;
						}
						span {
							position: relative;
							display: block;
							width: 100%;
							left: 0;
							right: 0;
							top: 40%;
							transform: translateY(-50%);
						}
					}
					.behindImage {
						opacity: 0;
						z-index: 3;
						color: #fff;
						background-color: rgba(50, 50, 50, 0.9);
						position: absolute;
						width: 100px;
						height: 100px;
						border-radius: 10px;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						span {
							position: relative;
							display: block;
							width: 100%;
							left: 0;
							right: 0;
							top: 40%;
							transform: translateY(-50%);
						}
					}
				}
				.selectedItem {
					.behindImage {
						opacity: 1;
						transition: opacity 1s;
					}
					.viewMore {
						opacity: 0;
						transition: opacity 0.5s;
					}
				}
				h5 {
					margin-top: 10px;
					overflow: hidden;
					white-space: nowrap;
					inline-size: 160px;
				}
			}
		}
	}
}

@media (max-width: 574px) {
	#about {
		#journey, #navbar {
			width: 100%;
			float: none;
		}
		#navbar {
			button {
				margin-top: 15px;
				height: 40px;
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
} 