.content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	padding-top: 15px;
}
#about {
	padding: 20px 10px;
	width: 100%;
	box-shadow: 5px 10px 10px 10px #d9e1fe;
	border: 1px solid #c3c4ca;
	border-radius: 20px;
	.about_journey {
		text-align: justify;
		padding: 20px;
		margin: 0 15px;
		position: relative;
		width: 95%;
		overflow: hidden;
		h1 {
			text-align: center;
			margin-bottom: 30px;
			white-space: nowrap;
		}
		p {
			margin-top: 30px;
			height: 200px;
			overflow-x: hidden;
			overflow-y: scroll;
			padding: 5px 15px 5px 5px;
		}
		h6 {
			position: absolute;
			top: 0;
			left: 30px;
		}
	}
	.about_navbar {
		padding-right: 25px;
		position: relative;
		top: 40px;
		button {
			display: block;
			margin-top: 50px;
			width: 100%;
			height: 60px;
		}
		#knowledge_items {
			background-color: #000;
			margin-top: 0;
		}
	}
	.about_footer {
		.about_left_arrow {
			position: absolute;
			&:hover {
				background-color: rgba(60, 60, 60, 0.1);
				cursor: pointer;
			}
			&:active {
				background-color: rgba(60, 60, 60, 0.4);
			}
			height: 150px;
			margin-top: 20px;
			.about_line_1 {
				height: 2px;
				width: 70px;
				background-color: #000;
				margin-top: 45px;
				transform: rotate(-55deg);
			}
			.about_line_2 {
				height: 2px;
				width: 70px;
				background-color: #000;
				margin-top: 55px;
				transform: rotate(55deg);
			}
		}
		.about_right_arrow {
			right: 0;
			position: absolute;
			margin-right: 60px;
			height: 150px;
			margin-top: 20px;
			&:hover {
				background-color: rgba(60, 60, 60, 0.1);
				cursor: pointer;
			}
			&:active {
				background-color: rgba(60, 60, 60, 0.4);
			}
			.about_line_1 {
				height: 2px;
				width: 70px;
				background-color: #000;
				margin-top: 45px;
				transform: rotate(55deg);
			}
			.about_line_2 {
				height: 2px;
				width: 70px;
				background-color: #000;
				margin-top: 55px;
				transform: rotate(-55deg);
			}
		}
		.about_items {
			text-align: center;
			.about_item {
				display: inline-block;
				margin: 40px 10px 0 10px;
				.bot {
					opacity: 0;
					z-index: 10;
					position: absolute;
					color: white;
					background-color: black;
					border-radius: 10px;
					width: 60px;
					height: 25px;
					margin: 35px 0 0 50px;
				}
				a {
					color: #000;
				}
				.itemImage{
					img {
						width: 100px;
						height: 100px;
					}
					&:hover {
						cursor: pointer;
						.bot {
							opacity: 100%;
							transition: opacity 1s;
						}
					}
				}
				h5 {
					margin-top: 15px;
					overflow: hidden;
					white-space: nowrap;
					inline-size: 160px;
				}
			}
		}
	}
}

@media (max-width: 574px){
	#about .about_navbar {
		top: 0;
		margin-bottom: 20px;
		button {
			margin-top: 20px;
			width: 100%;
			height: 40px;
		}
	}
}

@media (max-width: 992px){
	#about .about_footer {
		.about_left_arrow {
			.about_line_1 {
				width: 50px;
				margin-top: 60px;
			}
			.about_line_2 {
				width: 50px;
				margin-top: 37px;
			}
		}
		.about_right_arrow {
			.about_line_1 {
				width: 50px;
				margin-top: 60px;
			}
			.about_line_2 {
				width: 50px;
				margin-top: 37px;
			}
		}
	}
}