<body>
  <app-loader></app-loader>
  <div class="container content">
    <div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
    <section id="about">
      <article id="journey">
        <h3>{{journey.title}}</h3>
        <p [innerHTML]="journey.description"></p>
      </article>
      <aside id="navbar">
        <button (click)="makePages('knowledge')" type="button" class="btn btn-secondary" id="knowledge_button"><strong>Knowledge</strong></button>
        <button (click)="makePages('badge')" type="button" class="btn btn-secondary" id="badge_button"><strong>Badges</strong></button>
        <button (click)="makePages('certificate')" type="button" class="btn btn-secondary" id="certificate_button"><strong>Certificates</strong></button>
      </aside>
      <footer id="footer">
        <section id="arrows" *ngIf="show_arrows">
          <div id="left_arrow" (click)="onLeftArrow()"><i class="fa-solid fa-angle-left fa-3x"></i></div>
          <div id="right_arrow" (click)="onRightArrow()"><i class="fa-solid fa-angle-right fa-3x"></i></div>
        </section>
        <section id="items">
          <ng-container *ngIf="array_all.length === 0">
            <h1>There are no items yet</h1>
          </ng-container>
          <ng-container *ngFor="let arrayItem of array_all; let i = index">
            <ng-container *ngIf="i === pageIndex">
              <div class="item" *ngFor="let item of arrayItem.page">
                <div class="itemImage" id="itemImage_{{item.id}}" (click)="showItemInfo(item.id)">
                  <img src="{{item.image_uri ? item.image_uri : 'https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg'}}" alt="{{item.image_alt ? item.image_alt : 'No image available'}}" />
                  <div class="behind_image">
                    <span>{{item.date}}</span>
                    <span *ngIf="isLogged()">#{{journey.id}}</span>
                  </div>
                </div>
                <div>
                  <h5 title="{{item.name}}">
                    <ng-container *ngIf="item.link; else noLink">
                      <a href="{{item.link}}" target="_blank" title="{{item.name}}">{{item.name}}</a>
                    </ng-container>
                    <ng-template #noLink>
                      {{item.name}}
                    </ng-template>
                  </h5>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </section>
      </footer>
    </section>
  </div>
  <app-navbar></app-navbar>
</body>