<body>
  <app-loader></app-loader>
  <div class="container content">
    <div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
    <section id="login">
      <div id="form">
        <h1>Login as admin</h1>
        <form onsubmit="return false;">
          <input type="email" placeholder="Username (email)" class="username" minlength="3" maxlength="128" required #username />
          <input type="password" placeholder="Password" class="password" minlength="3" maxlength="128" required #password />
          <input type="submit" value="Login" (click)="Login(username.value, password.value)" />
        </form>
      </div>
    </section>
  </div>
  <app-navbar></app-navbar>
</body>
