<body>
	<ng-container *ngIf="loaderService.isLoading$ | async">
		<div id="loader_parent">
			<h1>Loading</h1>
			<div class="spinner"></div>
		</div>
	</ng-container>
	<div class="container content">
		<div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
		<div class="container admin" id="admin">
			<h1>Portfolio information</h1>
			<section class="admin_home" id="admin_home">
				<div class="slide_button">
					<div class="slide_button_second" (click)='view_click("home")'>
						<h2>Home</h2>
						<i class="fa-solid fa-caret-down fa-2x arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x arrow_up"></i>
					</div>
				</div>
				<div id="app_home">
					<app-admin-home></app-admin-home>
				</div>
			</section>

			<section class="admin_work" id="admin_work">
				<div class="slide_button">
					<div class="slide_button_second" (click)='view_click("work")'>
						<h2>Work</h2>
						<i class="fa-solid fa-caret-down fa-2x arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x arrow_up"></i>
					</div>
				</div>
				<div id="app_work">
					<app-admin-work></app-admin-work>
				</div>
			</section>

			<section class="admin_about" id="admin_about">
				<div class="slide_button">
					<div class="slide_button_second" (click)='view_click("about")'>
						<h2>About</h2>
						<i class="fa-solid fa-caret-down fa-2x arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x arrow_up"></i>
					</div>
				</div>
				<div id="app_about">
					<app-admin-about></app-admin-about>
				</div>
			</section>

			<section class="admin_contact" id="admin_contact">
				<div class="slide_button">
					<div class="slide_button_second" (click)='view_click("contact")'>
						<h2>Contact</h2>
						<i class="fa-solid fa-caret-down fa-2x arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x arrow_up"></i>
					</div>
				</div>
				<div id="app_contact">
					<app-admin-contact></app-admin-contact>
				</div>
			</section>

			<section class="admin_user" id="admin_user">
				<div class="slide_button">
					<div class="slide_button_second" (click)='view_click("user")'>
						<h2>Users</h2>
						<i class="fa-solid fa-caret-down fa-2x arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x arrow_up"></i>
					</div>
				</div>
				<div id="app_user">
					<app-admin-user></app-admin-user>
				</div>
			</section>

			<div class="floating_buttons">
				<i class="fa-solid fa-caret-up fa-2x f_button" (click)='b_goto("top")' title="Go top"></i>
				<i class="fa-solid fa-house-chimney f_button" (click)='b_goto("app_home")' title="Go to home page"></i>
				<i class="fa-solid fa-code f_button" (click)='b_goto("app_work")' title="Go to work page"></i>
				<i class="fa-solid fa-user f_button" (click)='b_goto("app_about")' title="Go to about page"></i>
				<i class="fa-solid fa-comments f_button" (click)='b_goto("app_contact")' title="Go to contact page"></i>
				<i class="fa-solid fa-users f_button" (click)='b_goto("app_user")' title="Go to users page"></i>
				<i class="fa-solid fa-right-from-bracket f_button f_button_last" (click)="b_logout()" title="Logout"></i>
			</div>
		</div>
	</div>
	<app-navbar></app-navbar>
</body>
