<body>
	<div class="container content">
		<div class="container admin">
			<h1>Edit portfolio information</h1>
			<section class="admin_home" id="admin_home">
				<div class="slide_button">
					<div class="slide_button_second">
						<h2>Home</h2>
						<i class="fa-solid fa-caret-down fa-2x" id="arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x" id="arrow_up"></i>
					</div>
				</div>
				<div class="app_home">
					<app-admin-home></app-admin-home>
				</div>
			</section>

			<section class="admin_work" id="admin_work">
				<div class="slide_button">
					<div class="slide_button_second">
						<h2>Work</h2>
						<i class="fa-solid fa-caret-down fa-2x" id="arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x" id="arrow_up"></i>
					</div>
				</div>
				<div class="app_work">
					<app-admin-work></app-admin-work>
				</div>
			</section>

			<section class="admin_about" id="admin_about">
				<div class="slide_button">
					<div class="slide_button_second">
						<h2>About</h2>
						<i class="fa-solid fa-caret-down fa-2x" id="arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x" id="arrow_up"></i>
					</div>
				</div>
				<div class="app_about">
					<app-admin-about></app-admin-about>
				</div>
			</section>

			<section class="admin_contact" id="admin_contact">
				<div class="slide_button">
					<div class="slide_button_second">
						<h2>Contact</h2>
						<i class="fa-solid fa-caret-down fa-2x" id="arrow_down"></i>
						<i class="fa-solid fa-caret-up fa-2x" id="arrow_up"></i>
					</div>
				</div>
				<div class="app_contact">
					<app-admin-contact></app-admin-contact>
				</div>
			</section>
		</div>
	</div>
	<app-navbar></app-navbar>
</body>
