<body>
  <app-loader></app-loader>
  <section class="container content">
    <div
      id="liveAlertPlaceholder"
      style="position: absolute; z-index: 9; width: 100%"
    ></div>
    <section id="home">
      <div id="homeName">
        <h1>
          <strong
            ><span id="name">Lautaro </span
            ><span id="surname">Colella</span></strong
          >
        </h1>
        <hr />
        <h2>Portfolio</h2>
      </div>
      <div id="homeTitle">
        <div id="homeTitleBox"></div>
        <h2>{{ currentTitle }}</h2>
      </div>
    </section>
  </section>
  <app-navbar></app-navbar>
</body>
