<body>
  <div class="container content">
    <div class="container home" id="home">
      <div class="row">
        <div class="col-sm home_name">
          <h1>Lautaro Colella</h1>
          <h2>Developer</h2>
        </div>
        <div class="col-sm home_title">
          <div class="home_title_box"></div>
          <h2 class="home_item">Example text</h2>
          <!-- this will change with skills or titles like web developer, mobile developer, etc -->
        </div>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</body>