<body>
	<ng-container *ngIf="loaderService.isLoading$ | async">
		<div id="loader_parent">
			<h1>Loading</h1>
			<div class="spinner"></div>
		</div>
	</ng-container>
	<div class="container content">
		<div id="liveAlertPlaceholder" style="position: absolute; z-index: 9; width: 100%;"></div>
		<div class="container home" id="home">
			<div class="row">
				<div class="col-sm home_name">
					<h1>Lautaro Colella</h1>
					<h2>Portfolio</h2>
				</div>
				<div class="col-sm home_title" id="home_title">
					<div class="home_title_box" id="home_title_box"></div>
					<h2 class="home_item" id="home_item">{{current_title}}</h2>
				</div>
			</div>
		</div>
	</div>
	<app-navbar></app-navbar>
</body>