<div class="container content">
	<section class="select_method">
		<h4>Select option</h4>
		<select (change)="method_change($event)">
			<option value="add">Create</option>
			<option value="edit">Edit</option>
			<option value="delete">Delete</option>
		</select>
	</section>
	<div class="form">
		<div *ngIf="show_add">
			<form onsubmit="return false;">
				<h1>Add</h1>
			</form>
		</div>

		<div *ngIf="show_edit">
			<form onsubmit="return false;">
				<h1>Edit</h1>
				
			</form>
		</div>

		<div *ngIf="show_delete">
			<form onsubmit="return false;">
				<h1>Delete</h1>
				
			</form>
		</div>
	</div>


	<!--
		<p class="error" *ngIf="error_message">{{error_message}}</p>
	-->
</div>